/* FONTS */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumitalic.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbolditalic.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ptsans.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ptsansbold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Переменные */

:root {

  --white: #FFFFFF;
  --black: #000000;
  --basic-blue: #32425C;
  --basic-darkblue: #293449;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-lightgray: #C5C5C5;
  --basic-gray: #3D546F;
  --basic-background: #F1F5F7;

  --special-aquablue: #3BBCE3;

  --special-darkgreen: #367315;
  --special-lightgreen: #8ED78F;

  --special-orange: #FFBF47;
  --special-lightorange: #FFC047;

  --special-darkyellow: #FFD180;

  --special-lilac: #DC91D8;

  --special-gray: #A9A9A9;
  --special-middlegray: #E5E5E5;
  --special-lightgray: #F4F4F4;

  --special-lightbrown: #F9F5F0;
  --special-brown: #F7F3EC;

  --social-background: #212A3A;

  --white-opacity: rgba(255, 255, 255, 0.5);
  --white-opacity-25: rgba(255, 255, 255, 0.25);
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --gray-opacity-30: rgba(197, 197, 197, 0.3);
  --darkgray-opacity-50: rgba(241, 245, 247, 0.5);
  --brown-opacity-30: rgba(169, 169, 169, 0.3);
  --black-opacity-24: rgba(0, 0, 0, 0.24);
  --black-opacity-30: rgba(0, 0, 0, 0.3);
  --darkyellow-opacity-50: rgba(255, 209, 128, 0.5);


  --hover-red: #CA2C37;
  --hover-green: #5FBB2D;
  --hover-blue: #293449;

  --active-green: #518534;
  --active-blue: #161D29;
  --active-red: #BA2732;
}

body {
  margin: 0;
  padding: 0;

  color: var(--black);
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.button:hover,
.button:focus {
  background-color: var(--hover-red);
}

.button-active {
  background-color: var(--active-red);
}

.section__wrapper {
  background-color: var(--special-lightbrown);
}

.section__title {
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.section__button {
  color: var(--white);
}

/* header-top */

.header-top {
  color: var(--white);

  background-color: var(--basic-darkblue);
}

.header-top__logo,
.header-top__logo:hover,
.header-top__logo:focus {
  color: var(--white);
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--black-opacity-24);
}

.header-top__logo:active {
  background-color: var(--active-red);
}

/* Стили для формы поиска */
.header-top__search-form > input[type="search"] {
  background-color: var(--basic-darkblue);
  border: none;
}

.header-top__search-form >input[type="search"]::placeholder {
  color: var(--white);
}

.header-top__search-form > input[type="search"]:hover {

}

.header-top__search-form > input[type="search"]:focus {
  color: var(--black);

  background-color: var(--white);
}

.header-top__button,
.header-top__button:hover,
.header-top__button:focus {
  color: inherit;
}

.header-top__button:active {
  color: var(--white-opacity);

  background-color: var(--active-blue);
}

.header-top__button-cart_full {
  background-color: var(--basic-red);
}

.header-top__button_order {
  background-color: var(--basic-green);

  border: none;
}

.header__button_order:hover,
.header__button_order:focus {
  background-color: var(--hover-green);
}

.header__button_order:active {
  background-color: var(--basic-green);
}

/* header-center */

.header-center {
  background-color: var(--basic-background);
}

.header-center__promo {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-center__contacts-phone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;

  border:3px solid var(--white);
}

.header-center__contacts-address {
  color: var(--basic-blue);
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.login__button {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;

  background-color: var(--white);
}

.login__button:hover,
.login__button:focus {
  color: var(--basic-red);
}

.login__button:active {
  color: var(--basic-lightgray);
}

.account__info {
  font-size: 21px;
  line-height: 21px;

  background-color: var(--white);
}

.account__button,
.account__button_user:hover,
.account__button_user:focus {
  color: var(--black);
}

.account__button_user:active {
  color: var(--basic-lightgray);
}

.account__button_logout {
  color: var(--basic-lightgray);
}

.account__button_logout:hover,
.account__button_logout:focus {
  color: var(--basic-gray);
}

.account__button_logout:active {
  color: var(--basic-lightgray);
}

.account__menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.account__link {
  color: var(--basic-blue);
  font-size: 16px;
  line-height: 18px;
}

.account__link:hover,
.account__link:focus {
  color: var(--basic-red);
}

.account__link:active {
  color: var(--basic-lightgray);
}

/* header-bottom*/

.header-bottom {
  color: var(--white);

  background-color: var(--basic-background);
}

.main-navigation {
  background-color: var(--basic-blue);
  box-shadow: inset 0 -5px 0 var(--basic-darkblue);
}

.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__link {
  color: inherit;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
  background-color: var(--basic-darkblue);
}

.main-navigation__link:active {
  color: var(--white-opacity);
}

.main-navigation__current-link:hover,
.main-navigation__current-link:focus,
.main-navigation__current-link:active {
  color: inherit;

  background-color: var(--basic-blue);
}

/* main-content */

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
  color: var(--white);
}

.features__item:nth-child(1) {
  background-color: var(--special-orange);
}

.features__item:nth-child(2) {
  background-color: var(--special-aquablue);
}

.features__item:nth-child(3) {
  background-color: var(--special-lilac);
}

.features__item:nth-child(4) {
  background-color: var(--special-lightgreen);
}

.features__item:nth-child(5) {
  background-color: var(--special-lightorange);
}

.features__item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.features__button {
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--white-opacity-30);
}

.feature__button:hover,
.features__button:focus {
  background-color: var(--gray-opacity-30);
}

.features__button:active {
  background-color: var(--brown-opacity-30);
}

/* features-slider */

.features__slider {
  margin: 0;
  padding: 0;

  list-style: none;
  color: var(--white);

  background-color: var(--basic-lightgray);
}

.slider__wrapper {
  background-color: var(--white-opacity-25);
}

.slider__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/* populap-goods */

.goods__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods__item {

}

.goods__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.goods__price_old {
  color: var(--special-gray);
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.goods__price {
  color: var(--white);
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.goods__button_buy {
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border: none;
  box-shadow: inset 0 -3px 0 var(--special-darkgreen);

  background-color: var(--basic-green);
}

.goods__button_buy:hover,
.goods__button_buy:focus {
  background-color: var(--hover-green);
}

.goods__button_buy:active {
  background-color: var(--active-green);
}

.goods__button_add-bookmark {
  color: var(--basic-blue);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border: 3px solid var(--basic-green);
  border-radius: 2px;

  background: transparent;
}

.goods__button_add-bookmark:hover,
.goods__button_add-bookmark:focus {
  border: 3px solid var(--basic-blue);
  border-radius: 2px;

  background: transparent;
}

.goods__button_add-bookmark:active {
  color: var(--basic-lightgray);

  border: 3px solid var(--basic-lightgray);
  border-radius: 2px;
}

/* popular-brands */

.brands__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* services */

.services {
  background-color: var(--basic-background);
}

.services__title {
  color: var(--black);
}

.services__info {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-buttons {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__button {
  color: var(--white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;

  background-color: var(--basic-blue);
  border: none;
}

.services__button:hover,
.services__button:focus {
  color: var(--white);

  background-color: var(--hover-blue);
}

.services__button {
  color: var(--basic-blue);

  background-color: var(--white);
}

.services-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider__info {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.services-slider__button {
  color: var(--white);
}

/* about-us */
.about-us__title {
  color: var(--black);
}

.about-us__content {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.about-us__content-delivery {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.delivery__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__button {
  color: var(--white);

  border: none;
}

/* breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;

  color: var(--black);
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs__link {
  color: inherit;
}

.catalog__title {
  background-color: var(--basic-background);
}

/* filter */

.filter-sort__title {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter__title {
  background-color: var(--special-brown);
}

.filter__section {
  border: none;
}

.filter__section_title {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-range {
  background-color: var(--special-brown);
}

.price-element > input[type="number"] {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: var(--special-brown);

  border: none;
  border-radius: 2px;
}

.price-element > input[type=number]::-webkit-inner-spin-button,
.price-element > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-brands__list,
.filter-energy__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-brands__item > label,
.filter-energy__item > label {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter__button {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--white);

  border: 1px solid var(--special-middlegray);
}

/* sort */

.sort {
  background-color: var(--special-brown);
}

.sort__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__button {
  color: var(--black-opacity-30);
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;

  background-color: transparent;

  border: none;
  border-bottom: 1px dotted var(--basic-red);
}

.sort__button:hover,
.sort__button:focus {
  color: var(--black);

  border-bottom: 1px solid var(--basic-red);
}

.sort__button:active {
  color: var(--basic-red);

  border: none;
}

.sort__button_current,
.sort__button_current:hover,
.sort__button_current:focus,
.sort__button_current:active {
  color: var(--basic-red);

  border: none;
}

.sort__button_up-down {
  color: var(--black-opacity-30);
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;

  background-color: transparent;

  border: none;
}

.sort__button_up-down:hover,
.sort__button_up-down:focus {
  color: var(--black);
}

.sort__button_up-down:active {
  color: var(--basic-red);
}

.sort__button_up-down_current,
.sort__button_up-down_current:hover,
.sort__button_up-down_current:focus,
.sort__button_up-down_current:active {
  color: var(--basic-red);
}

/* catalog-content */

.catalog__goods {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* paggination */

.paggination {
  margin: 0;
  padding: 0;

  color: var(--black);
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
}

.paggination__link {
  color: inherit;

  border: 1px solid var(--special-middlegray);
}

.paggination__link:hover,
.paggination__link:focus {
  border: 1px solid var(--basic-lightgray);
}

.paggination__link:active {
  border: 1px solid var(--basic-red);
}

.paggination__link_current,
.paggination__link_current:hover,
.paggination__link_current:focus,
.paggination__link_current:active {
  border: none;
  border-radius: 2px;

  background-color: var(--basic-red);
}

/* catalog__info */

.catalog__info {
  color: var(--black);

  background-color: var(--basic-background);
}

.catalog-info__title {
  color: inherit;
}

.catalog-info__text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

/* footer */
/* footer-top */

.footer-top {
  color: var(--white);
  background-color: var(--basic-blue);
}

.footer-top__logo,
.footer-top__logo:hover,
.footer-top__logo:focus {
  /* Логотип сайта - простой текст!!! */
  color: var(--white);
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--black-opacity-24);
  /* Это может не работать в других браузерах!!! соотвественно лучше сюда запилить SVG */
  user-select: none;
}

.footer-top__logo:active {
  background-color: var(--active-red);
}

.footer-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation__link {
  color: var(--basic-background);
}

.footer-navigation__link:hover,
.footer-navigation__link:focus {
  text-decoration: underline;
}

.footer-navigation__link:active {
  color: var(--darkgray-opacity-50);
  text-decoration: none;
}

/* footer-center */
.footer-center {
  color: var(--basic-background);
  background-color: var(--basic-blue);
}

.footer-center__address {
  font-style: normal;
}

.footer-center__phone {
  color: inherit;
}

.footer-subnavigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-subnavigation__link {
  color: var(--special-darkyellow);
}

.footer-subnavigation__link:hover,
.footer-subnavigation__link:focus {
  text-decoration: underline;
}

.footer-subnavigation__link:active {
  color: var(--darkyellow-opacity-50);
  text-decoration: none;
}

/* footer-bottom */
.footer-bottom {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;

  background-color: var(--basic-darkblue);
}

.social__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__button {
  color: var(--white);

  background-color: var(--social-background);
}

.social__button:hover,
.social__button:focus,
.social__button:active {
  background-color: var(--basic-red);
}

.feedback__link,
.developer__link {
  color: var(--special-darkyellow);
}

.feedback__link:hover,
.developer__link:hover,
.feedback__link:focus,
.developer__link:focus  {
  text-decoration: underline;
}

.feedback__link:active,
.developer__link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* modal-feedback */

.modal {
  color: var(--black);

  background-color: var(--white);

  border-top: 7px solid var(--basic-red);
}

.feedback__element > input[type="text"],
.feedback__element > input[type="email"],
.feedback__element > textarea {
  color: inherit;
  font-size: 13px;

  border: 2px solid var(--basic-lightgray);
  border-radius: 2px;
}

.feedback__footer {
  background-color: var(--special-lightgray);
}

.feedback__button {
  color: var(--white);

  border: none;
}

/* modal-cart */

.modal-cart__event {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.modal-cart__footer {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: var(--special-lightgray);
}

.modal-cart__button {
  color: var(--white);
}

.modal-cart__button_continue,
.modal-cart__button_continue:hover,
.modal-cart__button_continue:focus,
.modal-cart__button_continue:active {
  color: var(--black);

  background-color: var(--white);
}


