/* FONTS */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumitalic.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbolditalic.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ptsans.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ptsansbold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Переменные */

:root {
  /*  */
  --white: #FFFFFF;
  --black: #000000;
  --basic-blue: #32425C;
  --basic-darkblue: #293449;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-lightgray: #C5C5C5;
  --basic-background: #F1F5F7;

  --special-aquablue: #3BBCE3;
  --special-darkgreen: #367315;
  --special-lightgreen: #8ED78F;
  --special-lightorange: #FFC047;
  --special-lilac: #DC91D8;
  --special-orange: #FFBF47;
  --special-lightbrown: #F9F5F0;
  --special-gray: #A9A9A9;
  --special-darkyellow: #FFD180;

  --social-background: #212A3A;

  --white-opacity: rgba(255, 255, 255, 0.5);
  --white-opacity-25: rgba(255, 255, 255, 0.25);
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --gray-opacity-30: rgba(197, 197, 197, 0.3);
  --darkgray-opacity-50: rgba(241, 245, 247, 0.5);
  --brown-opacity-30: rgba(169, 169, 169, 0.3);
  --black-opacity-24: rgba(0, 0, 0, 0.24);
  --darkyellow-opacity-50: rgba(255, 209, 128, 0.5);


  --hover-red: #CA2C37;
  --hover-green: #5FBB2D;
  --hover-blue: #293449;

  --active-green: #518534;
  --active-blue: #161D29;
  --active-red: #BA2732;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  color: var(--black);
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.button:hover,
.button:focus {
  background-color: var(--hover-red);
}

.button-active {
  background-color: var(--active-red);
}

.section-wrapper {
  background-color: var(--special-lightbrown);
}

.section-title {
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-button {
  color: var(--white);
}

/* header-top */

.header-top {
  color: var(--white);

  background-color: var(--basic-darkblue);
}

.header-logo,
.header-logo:hover,
.header-logo:focus {
  /* Логотип сайта - простой текст!!! */
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--black-opacity-24);
  /* Это может не работать в других браузерах!!! соотвественно лучше сюда запилить SVG */
  user-select: none;
}

.header-logo:active {
  background-color: var(--active-red);
}

/* Стили для формы поиска */

.header-button,
.header-button:hover,
.header-button:focus {
  color: inherit;
}

.header-button:active {
  color: var(--white-opacity);

  background-color: var(--active-blue);
}

.order-button
 {
  background-color: var(--basic-green);

  border: none;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--hover-green);
}

.order-button:active {
  background-color: var(--basic-green);
}

/* header-center */

.header-center {
  background-color: var(--basic-background);
}

.header-promo {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-phone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
}

.header-address {
  color: var(--basic-blue);
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.login-button {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;

  background-color: var(--white);
}

.login-button:hover,
.login-button:focus {
  color: var(--basic-red);
}

.login-button:active {
  color: var(--basic-lightgray);
}

/* header-bottom*/

.header-bottom {
  color: var(--white);

  background-color: var(--basic-background);
}

.header-navigation {
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px var(--basic-darkblue);
}

.navigation-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-link {
  color: inherit;
}

.navigation-link:hover,
.navigation-link:focus {
  background-color: var(--basic-darkblue);
}

.navigation-link:active {
  color: var(--white-opacity);
}

/* main-content */

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
  color: var(--white);
}

.features-item:nth-child(1) {
  background-color: var(--special-orange);
}

.features-item:nth-child(2) {
  background-color: var(--special-aquablue);
}

.features-item:nth-child(3) {
  background-color: var(--special-lilac);
}

.features-item:nth-child(4) {
  background-color: var(--special-lightgreen);
}

.features-item:nth-child(5) {
  background-color: var(--special-lightorange);
}

.item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.features-button {
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--white-opacity-30);
}

.features-button:hover,
.features-button:focus {
  background-color: var(--gray-opacity-30);
}

.features-button:active {
  background-color: var(--brown-opacity-30);
}

/* features-slider */

.features-slider {
  margin: 0;
  padding: 0;

  list-style: none;
  color: var(--white);

  background-color: var(--basic-lightgray);
}

.slider-wrapper {
  background-color: var(--white-opacity-25);
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/* populap-goods */

.goods-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods-item {

}

.goods-title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.old-price {
  color: var(--special-gray);
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.price {
  color: var(--white);
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.buy-button {
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border: none;
  box-shadow: inset 0px -3px 0px var(--special-darkgreen);

  background-color: var(--basic-green);
}

.buy-button:hover,
.buy-button:focus {
  background-color: var(--hover-green);
}

.buy-button:active {
  background-color: var(--active-green);
}

.add-bookmark-button {
  color: var(--basic-blue);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border: none;

  background: none;
}

.add-bookmark-button:hover,
.add-bookmark-button:focus {
  background: none;
}

.add-bookmark-button:active {
  color: var(--basic-lightgray);
}

/* popular-brands */

.brands-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* services */

.services {
  background-color: var(--basic-background);
}

.services-title {
  color: var(--black);
}

.services-info {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-buttons {
  margin: 0;
  padding: 0;

  list-style: 0;
}

.services-button {
  color: var(--white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;

  background-color: var(--basic-blue);
  border: none;
}

.services-button:hover,
.services-button:focus {
  color: var(--white);

  background-color: var(--hover-blue);
}

.current-service {
  color: var(--basic-blue);

  background-color: var(--white);
}

.services-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider-info {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.services-slider-button {
  color: var(--white);
}

/* about-us */
.about-us-title {
  color: var(--black);
}

.info-content {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.delivery-content {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.delivery-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-button {
  color: var(--white);
}

.contacts-content {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.contacts-button {
  color: var(--white);
  border: none;
}

/* footer */
/* footer-top */

.footer-top {
  color: var(--white);
  background-color: var(--basic-blue);
}

.footer-logo,
.footer-logo:hover,
.footer-logo:focus {
  /* Логотип сайта - простой текст!!! */
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--black-opacity-24);
  /* Это может не работать в других браузерах!!! соотвественно лучше сюда запилить SVG */
  user-select: none;
}

.footer-logo:active {
  background-color: var(--active-red);
}

.footer-navigation-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation-link {
  color: var(--basic-background);
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
  text-decoration: underline;
}

.footer-navigation-link:active {
  color: var(--darkgray-opacity-50);
  text-decoration: none;
}

/* footer-center */
.footer-center {
  color: var(--basic-background);
  background-color: var(--basic-blue);
}

.footer-address {
  font-style: normal;
}

.footer-phone {
  color: inherit;
}

.footer-subnavigation-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-subnavigation-link {
  color: var(--special-darkyellow);
}

.footer-subnavigation-link:hover,
.footer-subnavigation-link:focus {
  text-decoration: underline;
}

.footer-subnavigation-link:active {
  color: var(--darkyellow-opacity-50);
  text-decoration: none;
}

/* footer-bottom */
.footer-bottom {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;

  background-color: var(--basic-darkblue);
}

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  color: var(--white);

  background-color: var(--social-background);
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: var(--basic-red);
}

.feedback-link,
.developer-link {
  color: var(--special-darkyellow);
}

.feedback-link:hover,
.developer-link:hover,
.feedback-link:focus,
.developer-link:focus  {
  text-decoration: underline;
}

.feedback-link:active,
.developer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}
